<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>person list</title>
        <link rel="stylesheet" href="../Static/css/001.css" media="all" />
    </head>
    <body>
    <div style="background:#F00;height:90px;width:300px;">
         测试
    </div>
        <table class="add">
            <tr>
                <th>1dfgsadfa松附件啊1111</th>
                <th>22222222</th>
                <th>2松22</th>
            </tr>
        </table>
    </body>
</html>