/* 智慧农业头css*/

.header{
    font-size:30px;
    display:inline-block; 
    font-weight:bolder;
    color:#3366FF;
}
.w1212{
	width: 1212px;
}
.m_t5{
   
    display:inline-block; 
    margin-left: 15px;
    height:50px;
    font-size:20px;
    font-weight:bolder;
}
.meta_s{
    display: flex;
}
.meta_zhong{ 
   
    height:25px;
    font-size:15px;
    font-weight:bolder;
}
.meta_zhonga{
    margin-left: 500px;
}
.meta_zhongaa{
    margin-left: 620px;
    
}

.buttona{
    color:#FF0000;
}
   /**
*底部
*/

.jqadmin-foot {
    height: 30px;
    padding: 5px 0;
    line-height: 30px;
    text-align: center;
    color: #666;
    font-weight: 300;
    border-left: 1px solid #1AA094;
    border-top: 1px solid #DDD;
    z-index: 998;
}
