<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>超级管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!-- load css -->
    <link rel="stylesheet" type="text/css" href="../Static/admin/css/bootstrap.min.css?v=v3.3.7" media="all">
    <link rel="stylesheet" type="text/css" href="../Static/admin/css/font/iconfont.css?v=1.0.0" media="all">
    <link rel="stylesheet" type="text/css" href="../Static/admin/css/layui.css?v=1.0.9" media="all">
    <link rel="stylesheet" type="text/css" href="../Static/admin/css/main.css?v1.3.4" media="all">
   
   
    <!-- 引入css文件-->
    <link rel="stylesheet" type="text/css" href="../Static/admin/css/css.css">
    

</head>

<body>
<div class="container-fluid larry-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <!--列表-->
            <section class="panel panel-padding" style="height:40px;margin-bottom:4px">
                <div class="group-button">
                    <a href="../AdminMenuCon/adminindex" class="layui-btn layui-btn-small">用户菜单</a>
                    <a href='../SuperApi/menuinfo?name=adminmenu' class="layui-btn layui-btn-small" style="float:right;">添加菜单</a>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="layui-form">
    <table class="layui-table lay-even" id="poweruser">
        <thead>
        <tr>
            <th width="80">ID</th>
            <th>名称</th>
            <th width="180">图标</th>
            <th>状态</th>
            <th>排序</th>
            <th width="240">操作</th>
        </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
</div>
</body>
<script src="../Static/admin/js/layui/layui.js"></script>
<script>
    layui.config({
        base: '../Static/admin/js/',   //假设这是你存放拓展模块的根目录
        version: "1.3.4r"        //设定模块别名
    }).extend({
        elem: 'jqmodules/elem',
        tabmenu: 'jqmodules/tabmenu',
        jqmenu: 'jqmodules/jqmenu',
        ajax: 'jqmodules/ajax',
        dtable: 'jqmodules/dtable',
        jqdate: 'jqmodules/jqdate',
        modal: 'jqmodules/modal',
        tags: 'jqmodules/tags',
        jqform: 'jqmodules/jqform',
        echarts: 'lib/echarts',
        webuploader: 'lib/webuploader'
    })
</script>

<script>
    layui.use('default');
</script>
<script>
    layui.use(['jquery'], function() {
    	$ = layui.jquery;
    	//form = layui.form();
    	console.log("------后台菜单api----------");
    	var idlength;
    	var data;
    	$.ajax({
			type : "post",
			async : false,//不加直接error
			url : '/SuperCMS/AdminMenuCon/menupower',
			success : function(res) {
				data=res;
			},
    	    error: function () {
             console.log("超级权限菜单！");
            }
		});
    	console.log(idlength);
    	console.log(data);
    	var tdArr = document.getElementById('poweruser').firstElementChild;
        for (var i = 0; i < data.length; i++) {
            var tr = document.createElement("tr");		            
            tr.innerHTML = '<td>' + data[i].id + '</td>'
                           +'<td>' + data[i].cname + '</td>'
                           +'<td><i class="iconfont">' + data[i].iconfont + '</i></td>'
                           +'<td><input type="checkbox" name="field_value" value="1" lay-skin="switch" lay-filter="ajax" lay-text="正常|禁用"  data-params /></td>'
                           +'<td><input type="text" name="field_value" class="layui-input ajax-blur" value="'+data[i].sort +'"  data-params=“”></td>'
                           +'<td><a href="" class="layui-btn layui-btn-mini modal-catch">'
                           +'<i class="iconfont">&#xe653;</i>编辑</a>'
                           +'<a class="layui-btn layui-btn-mini layui-btn-danger ajax" data-list="" data-params="">'
                           +'<i class="iconfont">&#xe626;</i>删除</a>'            
                           +'</td>';		            
            tdArr.appendChild(tr);           
        }
        for(var i=0;i<data.length;i++){
        	//$("input").eq(i).attr("id","id"+i);
        	//document.getElementById($("input").eq(i).attr("id")).value=data.data[i].username;
        	console.log(data[i].status);
        	var pardata='{"url":"/SuperCMS/SuperApi/menustatus","confirm":"true","data":"table=le_admin_menu&id_name='+data[i].name+'&id_value='+data[i].id+'&field=status","complete":"up"}';
        	var parlista='{"key":"id="'+data[i].userId+',"msg":true,"render":"true","action":"del"}'
        	var pardataa='{"url": "/SuperCMS/SuperApi/menudel","confirm":"true","data":"id='+data[i].id+'&name=adminmenu","complete":"del"}'
        	//"{:url('info',array('user_id'=>$vo['user_id']))}"
        	//var parhref='/SuperCMS/SuperApi/menuinfo?id='+data[i].id+'&name=adminmenu';
        	var parhref='/SuperCMS/SuperApi/menuinfo?id='+data[i].id+'&name=adminmenu&timestamp='+(new Date()).getTime();
        	console.log(parhref);
        	console.log(pardataa);
        	//document.getElementById($("input").eq(i).attr("data-params",pardata));
        	//document.getElementsByTagName($("a").eq(2i+1).attr("data-params",pardataa));
        	//document.getElementsByTagName($("a").eq(2i+1).attr("data-list",parlista));
        	//第一个input标签
        	$("input").eq(2*i).attr("data-params",pardata);
        	//第二个input标签
        	var parinputtwo='{"url":"/SuperCMS/SuperApi/menustatus","loading":"false","complete":"up","data":"table=le_admin_menu&id_name='+data[i].name+'&id_value='+data[i].id+'&field=sort"}';
        	$("input").eq(2*i+1).attr("data-params",parinputtwo);
        	$("a").eq(2+2*i).attr("href",parhref);
        	$("a").eq(parseInt(2*i+3)).attr("data-params",pardataa);
        	$("a").eq(parseInt(2*i+3)).attr("data-list",parlista);
        	console.log($("a").eq(parseInt(2*i+2)));
        	console.log($("a").eq(i));
        	//console.log($("input").eq(i));
        	if(data[i].status==1){
        		//console.log("111111111111");
        		//document.getElementById($("input").eq(i).attr("id")).checked="true";
        		$("input").eq(2*i).attr("checked",true);
        	}           	
            else{
            	//console.log("00000000000");
            	//document.getElementById($("input").eq(i).attr("id")).checked="false";
            	$("input").eq(2*i).attr("checked",false);
            }
            	
        }   	
    	
    });
</script>

</html>
	
	