<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>超级管理系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../Static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../Static/css/index.css" media="all" />
	<style>
        body {
            background-color: #2D2D2D
        }
    </style>
</head>
<body class="loginBody" onload="background();">
<div id="mydiv" style="position: fixed;top: 0px;left: 0px;z-index: -1;"></div>
	<form class="layui-form">
	    <div class="layui-form-item input-item" style="margin-top: 20px ;text-align:center;color:#00F;">
	        <h1><strong>超級管理系統</strong></h1>
		</div>
		<div class="layui-form-item input-item" >
			<label for="userName">用户名</label>
			<input type="text" placeholder="请输入用户名" autocomplete="off" id="userName" class="layui-input" maxlength="10" lay-verify="required">
		</div>
		<div class="layui-form-item input-item" style="margin-top: 20px ;">
			<label for="password">密码</label>
			<input type="password" placeholder="请输入密码" autocomplete="off" id="password" class="layui-input" maxlength="20" lay-verify="required">
		</div>
		<div class="layui-form-item " id="imgCode" style="margin-top: 20px ;">
			<label for="code">验证码</label>
			<input style="width:75%;" type="text" placeholder="请输入验证码" autocomplete="off" id="code" class="input-item layui-input" maxlength="5" lay-verify="required" >
			<img id="codeimg" src="../LoginCon/getVerifyCode">
		</div>
		<div class="layui-form-item" style="margin-top: 20px ;">
			<button class="layui-btn layui-btn-normal layui-block" lay-filter="login" lay-submit>登录</button>
		</div>
		<div class="layui-login-text" style="margin-top: 20px ;text-align:center;color:#00F;">
            <p>后台登陆系统<a href="http://www.yikaiba.com"  style="color:#00F;">welcome you</a></p>
        </div>
	</form>
	
	<script type="text/javascript" src="../Static/layui/layui.js"></script>
	<script type="text/javascript" src="../Static/js/login.js"></script>
	<script type="text/javascript" src="../Static/js/md5.js"></script>
	<script type="text/javascript" src="../Static/js/canvas-particle.js"></script>
<script type="text/javascript">
    function background() {
        //配置
        var config = {
            vx: 4,	//小球x轴速度,正为右，负为左
            vy: 4,	//小球y轴速度
            height: 2,	//小球高宽，其实为正方形，所以不宜太大
            width: 2,
            count: 200,		//点个数
            color: "121, 162, 185", 	//点颜色
            stroke: "130,255,255", 		//线条颜色
            dist: 6000, 	//点吸附距离
            e_dist: 20000, 	//鼠标吸附加速距离
            max_conn: 10 	//点到点最大连接数
        };
        //调用
        CanvasParticle(config);
    }
</script>
</body>
</html>